body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.blogPosts {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: list-item;
  width: fit-content;
  margin-top: -10px;
  list-style-type: none;
  marker: none;
  background-color: whitesmoke;
  padding-left: auto;
  margin-bottom: 30px;
}

/* On mouse-over, add a deeper shadow */
.blogPosts:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 26px;
}
.react-player {
  height: 100%;
  width: 100%;
  min-height: 225px;
}

#sidebar {
  height: 100%;
  width: auto;
  position: absolute;
  left: 0;
  top: 290px;
  padding-top: 150px;
  background-color: lightslategray;
}

/* #sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
} */

#blog-collection {
  max-width: 30em;
  margin: auto;
}
#blog-collection > div {
  border-bottom: solid 1px grey;
  padding-bottom: 3em;
  min-width: 5em;
  background-color: white;
  padding-top: 10px;
}
#App-header {
  text-align: left;
  background: purple;
  color: white;
  display: block;
  padding: auto;
  height: 300px;
}
#twitch-times {
  font-size: 35pt;
  font-family: Helvetica;
  padding: 0;
}
#blog-container {
  background-color: rgb(203, 211, 222);
}
form#search-form {
  width: auto;
}

button {
  border-radius: 20%;
  transition-duration: 0.4s;
  background-color: rgb(176, 23, 176); /* Green */
  color: white;
  text-align: center;
  font-size: 16px;
}
h3.blogTitles {
  text-align: center;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24pt;
  margin: 0;
}
